{% extends "base.html" %}
{% set active_page = "add_tour" %}
{% block title %}TouristGuide - Túra hozzáadása{% endblock %}
{% block page_content %}
<div class="form-add-tour">
<h2 class="page-header">Túra hozzáadása</h2>
<form action="" class="form" method="post" role="form" enctype="multipart/form-data">
{{ add_tour_form.hidden_tag() }}
{% import "bootstrap/wtf.html" as wtf %}
  {{ wtf.form_field(add_tour_form.name) }}
  {{ wtf.form_field(add_tour_form.place) }}
  <div class="form-group form-inline required">
    {{ add_tour_form.start_date.label(class="control-label") }}
    {{ add_tour_form.start_date(class="form-control") }}
    {{ add_tour_form.end_date.label(class="control-label") }}
    {{ add_tour_form.end_date(class="form-control") }}
  </div>
  <div class="form-group required">
   {{ add_tour_form.images.label(class="control-label") }}
     <input accept="image/*" id="images" name="images" required type="file" multiple>
  </div>
  {{ wtf.form_field(add_tour_form.experience) }}
  {{ wtf.form_field(add_tour_form.tour_guide) }}
  {{ wtf.form_field(add_tour_form.price) }}
  {{ wtf.form_field(add_tour_form.description) }}
  <div class="form-group">
    {{ add_tour_form.submit(class="btn btn-primary") }}
  </div>
</form>
{% if success %}
<div class="alert alert-success" role="alert">Túra sikeresen létrehozva!</div>
{% endif %}
</div>
{% endblock page_content %}
