{% extends "base.html" %}
{% block title %}TouristGuide &ndash; Túra jelentkezés{% endblock %}
{% block page_content %}
<div class="alert {{ 'alert-success' if success==0 else 'alert-danger' }}" role="alert">
  {% if success == 0 %}
  Sikeresen jelentkeztél a(z) "{{ tour.name|safe }}" nevű túrára!
  {% endif %}
  {% if success == 1 %}
  A(z) "{{ tour.name|safe }}" nevű túrára már jelentkeztél!
  {% endif %}
  {% if success == 2 %}
  Sikertelen jelentkezés! A(z) "{{ tour.name|safe }}" nevű túra időpontájban épp egy másik túrán leszel!
  {% endif %}
  {% if success == 3 %}
  Sikertelen jelentkezés! A(z) "{{ tour.name|safe }}" nevű túra belelóg egy másik túrába!
  {% endif %}
</div>
{% endblock page_content %}
