{% extends "base.html" %}
{% block title %}TouristGuide &ndash; Túra jelentkezés{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/redirect.js') }}"></script>
{% endblock scripts %}
{% block page_content %}
<div class="alert {{ 'alert-success' if success==0 else 'alert-danger' }}" role="alert">
  {% if success == 0 %}
  Sikeresen jelentkeztél a(z) "{{ tour.name|safe }}" nevű túrára!
  {% endif %}
  {% if success == 1 %}
  A(z) "{{ tour.name|safe }}" nevű túrára már jelentkeztél!
  {% endif %}
  {% if success == 2 %}
  Sikertelen jelentkezés! A(z) "{{ tour.name|safe }}" nevű túra időpontájban épp 
  a(z) "{{ tourname }}" túrán leszel!
  {% endif %}
  {% if success == 3 %}
  Sikertelen jelentkezés! A(z) "{{ tour.name|safe }}" nevű túra belelóg a(z) "{{ tourname }}" túrába!
  {% endif %}
  {% if success == 4 %}
  Túra jelentkezés le van tiltva! A túrák legkésőbbi jelentkezési időpont a túra kezdete előtti nap 12 óra!
  {% endif %}
    <a href="/tours"><div id="timeLeft" style="display: inline;">15</div> másodperc múlva visszairányítunk a túrák oldalra </a>
</div>
{% endblock page_content %}
