{% extends "bootstrap/base.html" %}
{% block styles %}
{{ super() }}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock styles %}
{% block scripts %}
{{ super() }}
{% if current_user.account_type_id == 1 %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/checkmail.js') }}"></script>
{% endif %}
{% endblock scripts %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      {% block page_content %}
      {% endblock page_content %}
    </div>
  </div>
</div>
{% endblock content %}
