{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Főoldal{% endblock %}
{% block page_content %}
<div style="width: 100%; text-align:center;"><h1 class="page-header">Üdvözlünk a Tourist Guide weboldalán!</h1></div>
<div style="width: 100%;">
    <img src="../static/uploads/Logo.png" class="img-circle" style="float:right;" alt="Logo" width="250px" height="200px">
    Mi a Tourist Guidenál kaland- és ökotúrákat, természeti látnivalókat érintő körutazásokat, gyalog-, kalandnyaralásokat, 
    továbbá overland utakat, via ferrata és hótalpas túrákat szervezünk. Minden utazásunk egyfajta „mix”, 
    ami azt jelenti, hogy az utak során többféle aktív program váltja egymást, de szerepet kapnak kulturális látnivalók és pihenés is.
    <br/>
    <br/>
    A Tourist Guide egy családias manufaktúra, ahol tökéletességre törekvő igényességgel foglalkozunk az útjaink szervezésével. 
    Mindent magunk csinálunk: az utazások megtervezését, előkészítését, megszervezését, értékesítését és lebonyolítását. 
    Az, hogy egy kézben tartjuk az utazásokhoz szükséges összes folyamatot, biztosítja a programjainkra jellemző minőséget. 
    <br/>
    <br/>
    Először is nagyon jó hangulatúak, hiszen izgalmasak a programok, gyönyörű helyekre vezetnek és a társaság is mindig nagyon jó.
    A utazások és a túrák jellege természetesen eltér egymástól, de közös mindegyikben, hogy a hangsúly a valóban tartalmas programokon van. 
    Eltérő arányban ugyan, de mindegyik utazásunk elsősorban a természeti látnivalók köré épül, amiket a legtöbb esetben valamilyen aktív tevékenység – főleg gyalogtúra, kerékpározás és evezés – során ismerhetünk meg. 
    A túrák nehézsége természetesen eltér egymástól, de kevés kivételtől eltekintve nem nehezek, így szinte bárki jelentkezhet rájuk.
</div>
{% endblock %}
