{% extends "base.html" %}
{% block title %}Regisztráció{% endblock %}
{% block page_content %}
<div class="form-signin">
  <h2 class="page-header">Regisztráció</h2>
  <form action="" class="form" method="post" role="form" enctype="multipart/form-data">
    {% import "bootstrap/wtf.html" as wtf %}
    {{ wtf.form_field(register_form.name) }}
    {{ wtf.form_field(register_form.pwd) }}
    {{ wtf.form_field(register_form.pwdRepeat) }}
    {{ wtf.form_field(register_form.email) }}
    {{ wtf.form_field(register_form.fullName) }}
    {{ wtf.form_field(register_form.experience) }}
    {{ wtf.form_field(register_form.birthDate) }}
    {{ wtf.form_field(register_form.phoneNumber) }}
    <div class="form-group">
      {{ register_form.avatar.label(class="control-label") }}
      <input accept="image/*" id="avatar" name="avatar" type="file">
    </div>
    {{ register_form.hidden_tag() }}
    <div class="form-group">
      {{ register_form.submit(class="btn btn-primary btn-lg btn-block") }}
    </div>
  </form>

  {% if success is not none %}
  <p>
    {% if success %}
      <div class="alert alert-success" role="alert">
          {{ message }}
        <a href="{{ url_for('users.login') }}" class="alert-link">Most már bejelentkezhetsz!</a>
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
  </p>
  {% endif %}
</div>
{% endblock page_content %}
