{% extends "base.html" %}
{% set active_page = "register" %}
{% block title %}Regisztráció{% endblock %}
{% block page_content %}
<h1 class="page-header">Register Page</h1>
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(register_form) }}
{% if success is not none %}
<p>
  {% if success %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% else %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endif %}
</p>
{% endif %}
{% endblock page_content %}
