{% extends "base.html" %}
{% set active_page = "tours" %}
{% block title %}TouristGuide &ndash; Túrák{% endblock %}
{% block page_content %}
<div class="order-chooser">
  <form action="" class="form-inline" method="post" role="form">
    <div class="form-group ">
      <label class="control-label" for="{{ tour_form.order_by.label.field_id }}">{{ tour_form.order_by.label.text | e }}</label>
      <select class="form-control" id="{{ tour_form.order_by.label.field_id }}" name="{{ tour_form.order_by.label.field_id }}">
        {% for option in tour_form.order_by -%}
        <option value="{{ option.data }}"{{ ' selected' if option.data == sort }}>{{ option.label.text | e }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="{{ tour_form.tours_per_page.label.field_id }}">{{ tour_form.tours_per_page.label.text | e}}</label>
      <select class="form-control" id="{{ tour_form.tours_per_page.label.field_id }}" name="{{ tour_form.tours_per_page.label.field_id }}">
        {% for option in tour_form.tours_per_page -%}
        <option value="{{ option.data }}"{{ ' selected' if option.data == items }}>{{ option.label.text | e}}</option>
        {% endfor %}
      </select>
    </div>
    {{ tour_form.hidden_tag() }}
    <div class="form-group">
      <input class="btn btn-primary" id="{{ tour_form.submit.label.field_id }}" name="{{ tour_form.submit.label.field_id }}" type="submit" value="{{ tour_form.submit.label.text }}">
    </div>
  </form>
</div>
<div class="row">
  {% for tour in tours %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="//placehold.it/320x200">
      <div class="caption">
        <h5 class="tour-caption"><b>{{ tour.name | e }}</b></h5>
        <p class="text-warning">{{ tour.experience.name | e }}</p>
        <p class="text-info">{{ tour.start_datetime.year }}-{{ tour.start_datetime.month }}-{{ tour.start_datetime.day }}</p>
        <p class="text-info">{{ tour.tour_guide.fullname | e }}</p>
        <a href="{{ url_for('tours.view_tour', tour_id=tour.id) }}" class="btn btn-primary btn-block" role="button">
          <span class="glyphicon glyphicon-eye-open"></span>
          Megnézem
        </a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('users.apply_for_tour', tour_id=tour.id) }}" class="btn btn-success btn-block" role="button">
          <span class="glyphicon glyphicon-ok"></span>
          Jelentkezek
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<nav class="text-center">
  <ul class=pagination>
    {%- if pagination.has_prev %}
    <li><a href="{{ url_for('tours.tours', current_page=pagination.prev_num) }}">&laquo;</a></li>
    {%- else %}
    <li class="disabled"><a>&laquo;</a></li>
    {% endif %}
    {%- for page in pagination.iter_pages() %}
      {% if page -%}
        {% if page != pagination.page %}
    <li><a href="{{ url_for('tours.tours', current_page=page) }}">{{ page }}</a></li>
        {% else %}
    <li class="active"><a>{{ page }}</a></li>
        {% endif %}
      {% else %}
    <li><span>&hellip;</span></li>
      {% endif %}
    {% endfor -%}
    {% if pagination.has_next %}
    <li><a href="{{ url_for('tours.tours', current_page=pagination.next_num) }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a>&raquo;</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock page_content%}
