{% extends "base.html" %}
{% set active_page = "tours" %}
{% block title %}Title of Tours Page{% endblock %}
{% block page_content %}
<div class="order-chooser">
  <form action="" class="form-inline" method="post" role="form">
    {% import "bootstrap/wtf.html" as wtf %}
    {{ wtf.form_field(tour_form.order_by) }}
    {{ wtf.form_field(tour_form.tours_per_page) }}
    {{ tour_form.hidden_tag() }}
    <div class="form-group">
      {{ tour_form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
<div class="row">
  {% for tour in tours %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="//placehold.it/320x200">
      <div class="caption">
        <h5 class="tour-caption"><b>{{ tour.name | e }}</b></h5>
        <p class="text-warning">{{ tour.experience.name | e }}</p>
        <p class="text-info">{{ tour.start_datetime.year }}-{{ tour.start_datetime.month }}-{{ tour.start_datetime.day }}</p>
        <p class="text-info">{{ tour.tour_guide.fullname | e }}</p>
        <a href="#" class="btn btn-primary btn-block" role="button">
          <span class="glyphicon glyphicon-eye-open"></span>
          Megnézem
        </a>
        <a href="#" class="btn btn-success btn-block" role="button">
          <span class="glyphicon glyphicon-ok"></span>
          Jelentkezek
        </a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock page_content%}
